html, body{
  padding: 0!important;
  margin: 0;
  background-color: #ecf0f5;
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  height: 7px;
  width: 10px; }
body::-webkit-scrollbar-thumb {
  min-height: 30px;
  background: #989898;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .25);
          box-shadow: 0 0 1px 1px rgba(255, 255, 255, .25); }
body::-webkit-scrollbar-thumb:hover {
  background: rgba(152, 152, 152, .7); }
body::-webkit-scrollbar-thumb:active {
  background: rgba(152, 152, 152, .8); }
body::-webkit-scrollbar-track:vertical {
  background: rgba(207, 207, 207, .8); }
body::-webkit-scrollbar-track:horizontal {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .13)), to(rgba(0, 0, 0, .13)), color-stop(0.5, rgba(0, 0, 0, .05))); }
body::-webkit-scrollbar-corner {
  background: #e7e7e7;
}
body::-webkit-scrollbar-track{
  border-radius:10px;
}

.clearfix{
  zoom: 1;
}
.clearfix:after{
  display: block;
  clear: both;
  content: '';
}