$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$lightGrey: #c9c9c9;
$grey: #999;
$themeClr: #409EFF;

$shadowClr: 0 2px 4px 0 rgba(0,0,0,.01), 0 0 4px 0 rgba(0,0,0,.04);
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
